{# Component/_navbar.html.twig #}

<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="index.php">Home</a></li>
  <br/>
  <li role="presentation"><a href="products.php">Products</a></li>
  <br/>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>