{# home.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - Accueil
{% endblock %}

{% block content %}

{% include '_navbar.html.twig' %}
<br/> <br/>
<h1> Hello Wilder ! </h1>

{% endblock %}